absl-py==0.7.1
appnope==0.1.0
astor==0.8.0
backcall==0.1.0
decorator==4.4.0
future==0.17.1
gast==0.2.2
google-pasta==0.1.7
grpcio==1.22.0
h5py==2.9.0
ipython==7.6.1
ipython-genutils==0.2.0
jedi==0.14.1
Markdown==3.1.1
numpy==1.16.4
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.1.0
prompt-toolkit==2.0.9
protobuf==3.9.0
ptyprocess==0.6.0
Pygments==2.4.2
six==1.12.0
termcolor==1.1.0
torch==1.1.0.post2
torchsummary==1.5.1
torchvision==0.3.0
traitlets==4.3.2
wcwidth==0.1.7
Werkzeug==0.15.4
wrapt==1.11.2
