Flask-RESTful==0.3.7
Jinja2==2.10.1
tzlocal==2.0.0
decorator==4.4.0
APScheduler==3.6.1
ipython-genutils==0.2.0
chardet==3.0.4
protobuf==3.9.0
requests==2.22.0
MarkupSafe==1.1.1
pytz==2019.2
pickleshare==0.7.5
Pillow==6.1.0
Werkzeug==0.15.4
pexpect==4.7.0
ipython==7.6.1
wrapt==1.11.2
gast==0.2.2
certifi==2019.6.16
soupsieve==1.9.3
h5py==2.9.0
parso==0.5.1
absl-py==0.7.1
beautifulsoup4==4.8.0
Click==7.0
selenium==3.141.0
Flask==1.1.1
ptyprocess==0.6.0
torch==1.2.0
Markdown==3.1.1
Werkzeug==0.15.6
google-pasta==0.1.7
traitlets==4.3.2
wcwidth==0.1.7
browsermob-proxy==0.8.0
torchsummary==1.5.1
appnope==0.1.0
aniso8601==7.0.0
torchvision==0.3.0
idna==2.8
torchvision==0.4.0
numpy==1.16.4
termcolor==1.1.0
future==0.17.1
grpcio==1.22.0
jedi==0.14.1
six==1.12.0
prompt-toolkit==2.0.9
torch==1.1.0.post2
astor==0.8.0
itsdangerous==1.1.0
Flask-Cors==3.0.8
numpy==1.17.1
Pygments==2.4.2
urllib3==1.25.3
bs4==0.0.1
backcall==0.1.0
